@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Educations.Queries.GetList.GetListEducationListItemDto>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Eğitimler</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" id="educationTable">
                    <thead>
                        <tr>

                            <th>
                                Id
                            </th>
                            <th>
                                Okul
                            </th>
                            <th>
                                Bölüm
                            </th>
                            <th>
                                Derece
                            </th>
                            <th>
                                Başlangıç Tarihi
                            </th>
                            <th>
                                Bitiş tarihi (veya beklenen)
                            </th>
                            <th>
                                Not
                            </th>
                            <th>
                                Faaliyet ve topluluklar
                            </th>
                            <th>
                                Açıklama
                            </th>
                            <th>
                                Medya
                            </th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    <a href="#" class="education-item" data-id="@item.Id">
                                        @*education-item seçme işleminde işime yarayacak*@
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FieldOfStudy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Grade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDateOrExcepted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Degree)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActivityAndCommunity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MediaUrl)
                                </td>

                                <td>
                                    <a href="/Admin/Educations/Update?Id=@item.Id" id="btnEdit" style="text-decoration:none">
                                        <span id="btnEdit__text">Güncelle</span>
                                        <svg id="svgEdit" viewBox="0 0 512 512">
                                            <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                                        </svg>
                                    </a>
                                </td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" id="btnDelete" onclick="showConfirmationModal('@item.Id', '@item.Name')">
                                        <span id="btnDelete__text">Sil</span>
                                        <span id="btnDelete__icon"><svg class="svg" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><title></title><path d="M112,112l20,320c.95,18.49,14.4,32,32,32H348c17.67,0,30.87-13.51,32-32l20-320" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line style="stroke:#fff;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" x1="80" x2="432" y1="112" y2="112"></line><path d="M192,112V72h0a23.93,23.93,0,0,1,24-24h80a23.93,23.93,0,0,1,24,24h0v40" style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="256" x2="256" y1="176" y2="400"></line><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="184" x2="192" y1="176" y2="400"></line><line style="fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" x1="328" x2="320" y1="176" y2="400"></line></svg></span>
                                    </button>

                                    <div class="modal fade" id="silmeIslemiOnayModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel_@item.Id" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirmationModalLabel_@item.Id">Silme İşlemi</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Bu '@item.Name' okulunu silmek istediğine emin misin?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                                                    <form id="deleteForm_@item.Id" action="@Url.Action("Delete")" method="post">
                                                        <input type="hidden" name="id" value="@item.Id" />
                                                        <button type="submit" class="btn btn-danger">Evet</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>