@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Skills.Queries.GetList.GetListSkillListItemDto>


@{
    ViewData["Title"] = "Ali SARI";
    var collapseIdilkIndex = 0;
    var collapseDiv6ColYanYanaYazdirmakIcinSayac = 0;
    var usedProgrammingLanguageNames = new List<string>(); // Projeler alanında - "programmingLanguageName" değişkeninin daha önce kullanılıp kullanılmadığını kontrol ederek tekrar yazdırmama işlemini gerçekleştirir:
    var usedProjectLanguageTechnologyItems = new List<string>();

}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
    /*Projeler - All içerisine uyarı yazısı*/
    .uyari {
        position: relative;
    }

    .yazi {
        display: none;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ff0000;
        color: #ffffff;
        padding: 5px;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
    }

    .allYazisiIcon {
        display: inline-block;
        width: 2px;
        height: 24px;
        fill: rgba(0, 0, 0, 1);
        vertical-align: middle;
        margin-right: 5px;
    }

        .allYazisiIcon:hover + .yazi {
            display: block;
        }

    /*Yetenekler - Udemy Buton*/
    #wrapper {
        display: block;
        margin-bottom: 4px;
        padding-top: 12px;
    }

    .button {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        padding: 5px;
        text-align: center;
    }


    /* BUTTON EEN */
    a.button.one:before, a.button.one:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        transition: all 0.3s ease;
    }

    a.button.one:before {
        top: -2.5%;
        left: -1%;
        border-top: 2px solid black;
        border-left: 2px solid black;
    }

    a.button.one:after {
        bottom: -2.5%;
        right: -1%;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
    }

    a.button.one:hover:before, a.button.one:hover:after {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
    }

    @@keyframes first {
        0% {
            width: 0%;
            height: 0%;
        }

        25% {
            width: 100%;
            height: 0%;
        }

        50% {
            width: 100%;
            height: 100%;
        }

        100% {
            width: 100%;
            height: 95%;
        }
    }
    /*LİSANSLAR VE SERTİFİKALAR buton*/
    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
    }

        .cta:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 50px;
            background: #b1dae7;
            width: 45px;
            height: 45px;
            transition: all 0.3s ease;
        }

        .cta span {
            position: relative;
            font-family: "Ubuntu", sans-serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #234567;
        }

        .cta svg {
            position: relative;
            top: 0;
            margin-left: 10px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #234567;
            stroke-width: 2;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }

        .cta:hover:before {
            width: 100%;
            background: #b1dae7;
        }

        .cta:hover svg {
            transform: translateX(0);
        }

        .cta:active {
            transform: scale(0.95);
        }
</style>



<script>

    // Yaş hesaplaması
    window.addEventListener('DOMContentLoaded', function () {
        var bugun = new Date(); // Bugünün tarihini alır
        var dogumTarihi = new Date(1998, 6, 19); // Doğum tarihini belirler (Ay sayısı 0'dan başladığı için Temmuz ayı 6. indeks olarak belirtilir)

        var yas = bugun.getFullYear() - dogumTarihi.getFullYear(); // Yılları hesaplar

        // Eğer doğum günü henüz geçmediyse, yaş bir yıl azaltılır
        if (bugun.getMonth() < dogumTarihi.getMonth() || (bugun.getMonth() === dogumTarihi.getMonth() && bugun.getDate() < dogumTarihi.getDate())) {
            yas--;
        }

        document.getElementById("sonuc").innerHTML = yas; // Sonucu gösterir
    });
</script>






<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hakkımda</h2>
            <p>Merhaba, ben yazılım test uzmanıyım ve aynı zamanda .Net Core projeleri geliştiriyorum. Microsoft SQL Server, .NET, Postman, Azure, OOP, SpecFlow, ASP.NET, Selenium, Git, C# gibi birçok araç ve dil konusunda uzmanlığa sahibim. Yazılım test süreçlerindeki becerilerim sayesinde, uygulamaların kalitesini arttırmak için test stratejileri geliştirmek ve uygulamak için çalışmalar yapıyorum. Aynı zamanda geliştirme ekibinde yer almaktan ve kodlama dünyasında da kendimi geliştirmekten mutluluk duyuyorum. </p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="~/home/assets/img/asari-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>Test Uzmanı & Backend Developer</h3>
                <br />
                <p class="fst-italic">
                    Şu anda Yazılım Test Uzmanı olarak bir şirkette çalışıyorum. Ancak boş zamanlarımda veya iş saatleri dışında Asp .Net Core ortamında mimariler üzerinde çalışmaktayım.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Doğum Tarihi:</strong> <span>19 Tem 1998</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.asari.com.tr</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Telefon:</strong> <span>+90 534 082 99 24</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Şehir:</strong> <span>Kocaeli, Türkiye</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Yaş:</strong> <span id="sonuc"></span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Derece:</strong> <span>Lisans</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>E-Mail:</strong> <span>alisari41@outlook.com</span></li>
                            @*<li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>*@
                        </ul>
                    </div>
                </div>
                <p>
                    Yaşam, bilgi ve deneyimlerin bir araya geldiği bir serüvandır. Kendi web sitemde size bu serüvenin bir parçasını sunmaktan büyük bir mutluluk duyarım.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Facts Section ======= -->
@*<section id="facts" class="facts">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Facts</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Happy Clients</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-headset"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Awards</p>
                </div>
            </div>

        </div>

    </div>
</section>*@<!-- End Facts Section -->
<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Yetenekler</h2>
            <p>Merhaba, yeteneklerimi burada sergiliyorum, çünkü biliyorum ki her başarılı adım, arka planda gizlenen yeteneklerin gücünü yansıtır. Ben c#, asp .net core ve sql gibi birçok alanda deneyimliyim. Başarılı bir işbirliği için gerekli olan Hızlı problem çözme becerisi, Analitik zeka, İşbirliği ve takım çalışması becerisi, İstikrarlı ve odaklı çalışma, Eleştirel düşünme ve problem analizi, Duyarlılık ve empati gibi niteliklerle donatılmışım. Amacım, bu yeteneklerimi sizinle paylaşarak, c# ve teknolojileri gibi önemli bir platformda daha da büyümek ve başarılı sonuçlar elde etmektir. Ekip çalışmasına önem verir, hızlı öğrenirim ve sürekli gelişim için kendimi motive ederim. Siz de yeteneklerimle birlikte hedeflerinize ulaşmamıza yardımcı olmak isterseniz, iletişime geçmekten mutluluk duyarım. Teşekkür ederim!</p>
        </div>

        <div class="row skills-content" id="accordion">
            @*acordion işlemini burada tanımlamamın sebebi yan yana verilerinde collapse menüsüne dahil olması için*@

            @foreach (var item in Model.Items)
            {
                if (collapseDiv6ColYanYanaYazdirmakIcinSayac % 2 == 0) /* Burayı kullanmamın asıl amacı yan yana yani col 6 col 6 şeklinde bütün verileri yazmak. Eğer en tepedeki sayının mod'u sıfırsa sola yaz sıfır değilse sağa yazmak için en sonunda da en tepedeki değişkeni 1 arttır. */
                {
                    <div class="col-lg-6">
                        <table class="table table-hover ">
                            @{

                                {
                                    collapseIdilkIndex = collapseIdilkIndex + 1;
                                }

                                if (collapseIdilkIndex == 1)
                                {
                                    <tr data-toggle="collapse" data-target="#collapseOne-@(item.Id)" aria-controls="collapse">
                                        <td>
                                            <div class="row">
                                                <div class="progress">
                                                    <span class="skill">@item.Name <i class="val">@(item.Degree * 10)%</i></span>
                                                    <div class="progress-bar-wrap">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="@(item.Degree * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="60" id="collapseOne-@(item.Id)" class="collapse show acc" data-parent="#accordion">
                                            <ul style="list-style-type:none;">
                                                @foreach (var projectItem in item.ProjectDtos)
                                                {
                                                    <li>
                                                        <li-icon aria-hidden="true" type="folder" class="ivm-view-attr__icon--icon  " size="medium">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                                                <path d="M22 5v3H2V3h6.5l1.33 2zM2 17a3 3 0 003 3h14a3 3 0 003-3V9H2z"></path>
                                                            </svg>
                                                        </li-icon>

                                                        <a href="/Home/GetByIdProject?Id=@projectItem.ProjectId" style="text-decoration:none;" data-glightbox="type: external" title="Portfolio Details" class="button">@projectItem.ProjectTitle</a>
                                                    </li>
                                                }
                                                @foreach (var licenseAndCertificationItem in item.LicenseAndCertificationDtos)
                                                {
                                                    <li>
                                                        <span id="wrapper">
                                                            <img src="~/home/assets/img/udemy-icon.png" loading="lazy" height="24" alt="" style="margin-bottom: 12px" class="ivm-view-attr__img--centered ivm-view-attr__img--stacked ivm-view-attr__img--stacked-square-size-0 EntityPhoto-square-0-stackedFacepile   evi-image lazy-image ember-view" />
                                                            <a href="@licenseAndCertificationItem.LicenseAndCertificationUrl" style="text-decoration:none; font-size:16px;" target="_blank" class="button one">@licenseAndCertificationItem.LicenseAndCertificationName </a>
                                                        </span>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr data-toggle="collapse" data-target="#collapseOne-@(item.Id)" aria-controls="collapse" class="collapsed">
                                        <td>
                                            <div class="row">
                                                <div class="progress">
                                                    <span class="skill">@item.Name <i class="val">@(item.Degree * 10)%</i></span>
                                                    <div class="progress-bar-wrap">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="@(item.Degree * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" id="collapseOne-@(item.Id)" class="collapse acc " data-parent="#accordion">
                                            <ul style="list-style-type:none;">
                                                @foreach (var projectItem in item.ProjectDtos)
                                                {
                                                    <li>
                                                        <li-icon aria-hidden="true" type="folder" class="ivm-view-attr__icon--icon  " size="medium">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                                                <path d="M22 5v3H2V3h6.5l1.33 2zM2 17a3 3 0 003 3h14a3 3 0 003-3V9H2z"></path>
                                                            </svg>
                                                        </li-icon> @projectItem.ProjectTitle
                                                    </li>
                                                }
                                                @foreach (var licenseAndCertificationItem in item.LicenseAndCertificationDtos)
                                                {
                                                    <li>
                                                        <span id="wrapper">
                                                            <img src="~/home/assets/img/udemy-icon.png" loading="lazy" height="24" alt="" style="margin-bottom: 12px" class="ivm-view-attr__img--centered ivm-view-attr__img--stacked ivm-view-attr__img--stacked-square-size-0 EntityPhoto-square-0-stackedFacepile   evi-image lazy-image ember-view" />
                                                            <a href="@licenseAndCertificationItem.LicenseAndCertificationUrl" style="text-decoration:none; font-size:16px;" target="_blank" class="button one">@licenseAndCertificationItem.LicenseAndCertificationName </a>
                                                        </span>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }

                        </table>
                    </div>
                }
                @if (collapseDiv6ColYanYanaYazdirmakIcinSayac % 2 != 0)
                {
                    <div class="col-lg-6">
                        <table class="table table-hover ">


                            <tr data-toggle="collapse" data-target="#collapseOne-@(item.Id)" aria-controls="collapse" class="collapsed">
                                <td>
                                    <div class="row">
                                        <div class="progress">
                                            <span class="skill">@item.Name <i class="val">@(item.Degree * 10)%</i></span>
                                            <div class="progress-bar-wrap">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="@(item.Degree * 10)" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" id="collapseOne-@(item.Id)" class="collapse acc " data-parent="#accordion">
                                    <ul style="list-style-type:none;">
                                        @foreach (var projectItem in item.ProjectDtos)
                                        {
                                            <li>
                                                <li-icon aria-hidden="true" type="folder" class="ivm-view-attr__icon--icon  " size="medium">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                                        <path d="M22 5v3H2V3h6.5l1.33 2zM2 17a3 3 0 003 3h14a3 3 0 003-3V9H2z"></path>
                                                    </svg>
                                                </li-icon> @projectItem.ProjectTitle
                                            </li>
                                        }
                                        @foreach (var licenseAndCertificationItem in item.LicenseAndCertificationDtos)
                                        {
                                            <li>
                                                <span id="wrapper">
                                                    <img src="~/home/assets/img/udemy-icon.png" loading="lazy" height="24" alt="" style="margin-bottom: 12px" class="ivm-view-attr__img--centered ivm-view-attr__img--stacked ivm-view-attr__img--stacked-square-size-0 EntityPhoto-square-0-stackedFacepile   evi-image lazy-image ember-view" />
                                                    <a href="@licenseAndCertificationItem.LicenseAndCertificationUrl" style="text-decoration:none; font-size:16px;" target="_blank" class="button one">@licenseAndCertificationItem.LicenseAndCertificationName </a>
                                                </span>
                                            </li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                {
                    collapseDiv6ColYanYanaYazdirmakIcinSayac += 1;
                }
            }
        </div>

    </div>
</section><!-- End Skills Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>EĞİTİM BİLGİLERİ ve İŞ DENEYİMLERİ</h2>
            <p>Merhaba! Bu bölümde eğitim bilgilerim ve iş deneyimlerim hakkında daha fazla bilgi bulabilirsiniz. Kendimi geliştirmek ve kariyer hedeflerime ulaşmak adına edindiğim eğitimlerimle birlikte, farklı sektörlerde elde ettiğim iş deneyimlerimi de paylaşmak istedim. Daha detaylı bilgilere ulaşmak için ilgili alt başlıkları inceleyebilirsiniz. İyi okumalar!</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Özet</h3>
                <div class="resume-item pb-0">
                    <h4>Alİ SARI</h4>
                    <p><em>Dinamik ve sonuç odaklı bir Bilgisayar Mühendisiyim. Lise eğitimimi Bilişim Sistemleri bölümünde, üniversite eğitimimi ise Bilgisayar Mühendisliği bölümünde tamamladım. Backend becerilerimi kullanarak 3 yılı aşkın bir süredir kullanıcı odaklı dijital çözümler geliştiriyorum. Yazılım geliştirme sürecinin başından sonuna kadar yer alarak yenilikçi ve zamanında teslim edilebilen çözümler üretmekteyim.</em></p>
                    <ul>
                        <li>Derince, Kocaeli, TR</li>
                        <li>(534) 082-9924</li>
                        <li>alisari41@outlook.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Eğitim</h3>
                @foreach (var educationItem in ViewBag.EducationList)
                {
                    <div class="resume-item">
                        <h4>@educationItem.Name</h4>
                        <h5> @educationItem.StartDate.ToString("MMM yyyy") - @educationItem.EndDateOrExcepted.ToString("MMM yyyy")</h5>
                        <p><em>@educationItem.Grade, @educationItem.FieldOfStudy</em></p>
                        <p>Not Ortalaması: @educationItem.Degree</p>
                    </div>
                }
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Deneyim</h3>

                @foreach (var experienceItem in ViewBag.ExperienceList)
                {
                    <div class="resume-item">
                        <h4>@experienceItem.Title</h4>
                        <h5>
                            @experienceItem.StartDate.ToString("MMM yyyy") -
                            @if (experienceItem.Statu)
                            {
                                @*Eğer Halen çalışıyorsam statü aktif olduğun ne kadardır çalıştığımı hesaplıyorum*@
                                var currentDate = DateTime.Now;
                                var startDate = experienceItem.StartDate;
                                var duration = currentDate.Subtract(startDate);

                                int years = (int)(duration.TotalDays / 365);
                                int months = (int)((duration.TotalDays % 365) / 30);

                                string durationText = $"{years} yıl {months} ay";

                                <text>
                                    Halen &#183; @durationText
                                </text>
                            }
                            else
                            {
                                @experienceItem.EndDate
                            }
                        </h5>
                        <p>
                            <text>@experienceItem.CompanyName &#183; @experienceItem.EmploymentType</text>
                        </p>
                        <p><em>@experienceItem.Location </em></p>

                        @Html.Raw(experienceItem.Description) @*CkEditor html kodllarını doğru yazdırması için HTML.Raw kullanıldı*@

                        <p>
                            <strong><!---->Yetenekler:<!----></strong>
                            @foreach (var skillItem in experienceItem.SkillDtos)
                            {
                                <text> @skillItem.SkillName &#183;</text>
                            }
                        </p>
                    </div>
                }
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="lisansveSertifikalar" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>LİSANSLAR VE SERTİFİKALAR</h2>
            <p>Bu bölümde, benim uzmanlık alanlarıma ve yetkinliklerime dair çeşitli sertifikaları bulabilirsiniz. Her bir sertifika, belirli bir alanda kazandığım bilgi ve becerileri temsil eder. Bu sertifikalar, tamamladığım eğitim programları ve kurslar sonucunda elde edilmiştir. Her biri, benim profesyonel gelişimime ve ilgi alanlarıma katkı sağlayan değerli belgelerdir. Sizlerle bu sertifikaları paylaşmaktan mutluluk duyarım.</p>
        </div>

        <div class="row container" data-aos="fade-up" data-aos-delay="200">

            @foreach (var licensesAndCertificationItem in ViewBag.LicensesAndCertificationList)
            {
                <div class="row">
                    <div class="col-lg-1">
                        <img src="~/home/assets/img/udemy-icon.png" loading="lazy" height="48" alt="" style="margin-bottom: 12px" class="ivm-view-attr__img--centered ivm-view-attr__img--stacked ivm-view-attr__img--stacked-square-size-0 EntityPhoto-square-0-stackedFacepile   evi-image lazy-image ember-view" />
                    </div>
                    <div class="col-lg-10">
                        <strong>@licensesAndCertificationItem.Name</strong>
                        <br>
                        <text>@licensesAndCertificationItem.IssuingOrganization</text>
                        <br>
                        <text style="font-weight:100">Yayınlama @licensesAndCertificationItem.IssueDate.ToString("MMM yyyy") </text>
                        <br>
                        <text style="font-weight:100">Yeterlilik Kimliği @licensesAndCertificationItem.CredentialId</text>
                        <br>
                        <p style="margin-top:15px">
                            <a href="@licensesAndCertificationItem.CredentialUrl" class="cta" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
                                <span>Yeterlilik belgesini göster</span>
                                <svg viewBox="0 0 13 10" height="10px" width="15px">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </a>
                        </p>
                    </div>
                    <hr style=" border-style: solid; color: grey; border-width: 1px;">

                </div>
            }
        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>PROJELER</h2>
            <p>Projelerim, yazılım geliştirme alanında uzmanlaştığım C#, ASP.NET Core, Java ve diğer teknolojilerle oluşturulmuş çeşitli projelerden oluşuyor. Web tabanlı uygulamalar, veritabanı yönetimi ve özelleştirilmiş yazılım çözümleri gibi farklı alanlarda çalışmalar yaptım. Bu projelerimde kullanıcı web siteleri, e-ticaret platformları ve kurumsal uygulamalar gibi çeşitli projeler bulunuyor.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active uyari">
                        <span class="allYazisiIcon"> ! </span>
                        <span class="yazi">BİR PROJE BİRDEN FAZLA DİLDE YAZILDIĞI İÇİN, “ALL” KISMINDA BİR PROJENİN BİRDEN FAZLA KEZ GÖSTERİMİ NORMALDİR!</span>
                        ALL
                    </li>

                    @foreach (var projectProgrammingLanguageTechnologyItem in ViewBag.ProjectProgrammingLanguageTechnologyList)
                    {

                        string programmingLanguageName = projectProgrammingLanguageTechnologyItem.ProgrammingLanguageName.ToLower()
                        .Replace("#", "sharp")
                        .Replace("+", "plus");
                        if (!usedProgrammingLanguageNames.Contains(programmingLanguageName))
                        {
                            usedProgrammingLanguageNames.Add(programmingLanguageName);
                            <li data-filter=".filter-@programmingLanguageName"> @projectProgrammingLanguageTechnologyItem.ProgrammingLanguageName</li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            @foreach (var projectProgrammingLanguageTechnologyItem in ViewBag.ProjectProgrammingLanguageTechnologyList)
            {
                string programmingLanguageName = projectProgrammingLanguageTechnologyItem.ProgrammingLanguageName.ToLower()
                .Replace("#", "sharp")
                .Replace("+", "plus");

                string combinedName = $"{projectProgrammingLanguageTechnologyItem.Title} - {programmingLanguageName}";

                if (!usedProjectLanguageTechnologyItems.Contains(combinedName))
                {
                    usedProjectLanguageTechnologyItems.Add(combinedName);

                    <div class="col-lg-4 col-md-6 portfolio-item filter-@programmingLanguageName">
                        <div class="portfolio-wrap">
                            <img src="@projectProgrammingLanguageTechnologyItem.ImageUrl" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4 style="margin-bottom:15px">@projectProgrammingLanguageTechnologyItem.Title</h4>
                                <p>
                                    <strong style="font-weight:600">Yetenekler:</strong>
                                    @foreach (var projectProgrammingLanguageTechnologySkillItem in projectProgrammingLanguageTechnologyItem.SkillDtos)
                                    {
                                        <text>@projectProgrammingLanguageTechnologySkillItem.SkillName &#183; </text>
                                    }
                                </p>
                                <p>
                                    <strong style="font-weight:600">Programlama Dili Teknolojisi:</strong>
                                    @projectProgrammingLanguageTechnologyItem.ProgrammingLanguageTechnologyName
                                </p>
                                <div class="portfolio-links">
                                    <a href="@projectProgrammingLanguageTechnologyItem.ImageUrl" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@projectProgrammingLanguageTechnologyItem.Description (@projectProgrammingLanguageTechnologyItem.ProgrammingLanguageTechnologyName)"><i class="bx bx-plus"></i></a>
                                    <a href="/Home/GetByIdProject?Id=@projectProgrammingLanguageTechnologyItem.ProjectId" data-glightbox="type: external" title="Proje Detayı" @*target="_blank"*@><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TEKNOLOJİLER</h2>
            <p>Bir projede kullanılan teknolojiler, web uygulamalarını geliştirmek, veritabanı yönetimi sağlamak ve dağıtımı kolaylaştırmak için çeşitli araçları içerir. Backend geliştirmede ASP.NET Core ve veritabanı sistemleri kullanılırken, frontend geliştirmede HTML, CSS ve JavaScript ile JavaScript kütüphaneleri ve çerçeveleri tercih edilir. Docker, uygulamaları konteynerlere paketlemek ve dağıtmak için kullanılırken, bulut hizmetleri ölçeklenebilirlik ve güvenlik sağlar. Bu teknolojiler, projelerin ihtiyaçlarına göre uyarlanır ve başarılı bir projenin temelini oluşturur.</p>
        </div>

        <div class="row">

            @foreach (var technologyItem in ViewBag.TechnologyList)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                        <img src="@technologyItem.ImageUrl" width="250" height="250">
                        <h4><a href="/Home/GetByIdTechnology?Id=@technologyItem.Id">@technologyItem.Title</a></h4>
                        <p>@technologyItem.Description</p>
                    </div>
                </div>
            }

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Testimonials Section ======= -->
@*<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/Home/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>*@<!-- End Testimonials Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İletişim</h2>
        </div>

        <div class="row mt-1">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Derince / Kocaeli</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>alisari41@outlook.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Telefon:</h4>
                        <p>+90 534 082 99 24</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="#" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="İsminiz" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="İçerik/Mesaj" id="bodyInput" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit" id="sendMail">Mail Gönder</button></div>
                </form>

            </div>

        </div>

    </div>
    

    <script>
        var sendBtn = document.getElementById("sendMail");

        sendBtn.addEventListener("click", function () {
            var msgSubject = document.getElementById("subject").value;
            var msgBody = document.getElementById("bodyInput").value;

            var toEmail = "alisari41@outlook.com";

            var mailtoLink = `mailto:${toEmail}?subject=${msgSubject}&body=${msgBody}`;

            // E-posta istemcisini aç
            window.location.href = mailtoLink;
        });
    </script>

</section><!-- End Contact Section -->
